# MongoDB connection string
MONGODB_URI=mongodb+srv://SheRise-MVP:Sherise123@cluster0.tsckxqi.mongodb.net/test?retryWrites=true&w=majority


# JWT secret (change this!)
JWT_SECRET=super_strong_secret_key_change_me_123

# Server configuration
PORT=3000
NODE_ENV=development
